.game-section {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
}

.board {
  width: 35rem;
  display: flex;
  flex-wrap: wrap;
}

.score {
  width: 15rem;
  font-size: 3rem;
}
