.setting-btn {
  background: white;
  color: black;
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.setting-btn:hover {
  background: black;
  color: white;
  opacity: 0.5;
}

.chosen-btn {
  background: black;
  color: white;
}
.chosen-btn:hover {
  opacity: 1;
  cursor: default;
}
