.quiz-game {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 5vh;
}

.quiz-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .quiz-game {
    flex-direction: column;
    justify-content: center;
  }
}

.pk-ending,
.single-ending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pk-ending img,
.single-ending img {
  height: 30vh;
}

.pk-ending p,
.single-ending p {
  text-align: center;
}
