.appTitle {
  margin: 0;
}
.appTitle h1,
h2 {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  margin: 0rem 0;
  font-weight: 700;
}

.appTitle h1 {
  font-size: 6vw;
  color: white;
  -webkit-text-stroke: 0.1vw black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.appTitle h2 {
  font-size: 5vw;
  color: #785003;
  -webkit-text-stroke: 0.05vw white;
}

@media (max-width: 600px) {
  .appTitle h1 {
    font-size: 12vw;
    -webkit-text-stroke: 0.3vw black;
  }

  .appTitle h2 {
    font-size: 10vw;
  }
}
