.playing {
  background-color: red;
  color: white;
}

.player-img {
  width: 100%;
}

.player-name {
  border-radius: 1.5rem;
  color: black;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 1vh;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  background-color: #f4d744;
  border-radius: 1.5rem;
  text-align: center;
  font-size: 5vmin;
  color: #0434ff;
  font-weight: bolder;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .player-img {
    height: 80%;
    width: auto;
  }
  .player-name {
    height: 5vh;
  }
  .score {
    height: 5vh;
  }
}
