.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.figure1 {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 0%;
}

.figure2 {
  position: absolute;
  width: 30%;
  left: 5%;
  bottom: 0;
}

@media (max-width: 600px) {
  .homepage {
    margin-bottom: 10vw;
  }
  .figure1 {
    width: 80%;
  }
  .figure2 {
    width: 80%;
  }
}
