.game-section {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
}

.board {
  width: 35rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.score {
  width: 15rem;
  font-size: 3rem;
}
