.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  background: #f4d749;
  height: 100%;
  width: 100%;

  font-family: "Noto Sans TC", sans-serif;
}
