.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
  animation: fadeIn 1s ease;
}

.modal {
  display: flex;
  align-items: center;

  position: fixed;
  top: 20vh;
  height: 60vh;

  left: 25vw;
  width: 50vw;

  z-index: 100;
  animation: fadeIn 1s ease;

  overflow: hidden;
}

.cardImg {
  /* must add display block to avoid bottom space*/
  display: block;
  height: 100%;
  width: auto;
  /* border-radius: 20px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.cardInfo {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  background: #4f005f;
  padding: 1rem;
}

.title h2 {
  margin: 0;
  color: white;
  font-size: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
}

.action {
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}

.confirm-btn {
  background: #4f005f;
  color: white;
  width: 5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.confirm-btn:hover {
  transform: scale(1.1);
}

.confirm-btn:active {
  opacity: 0.5;
  transform: scale(1);
}

@media (min-width: 768px) {
  .cardInfo {
    margin-left: 3vw;
  }
}

@media (max-width: 768px) {
  .modal {
    flex-direction: column;
    left: 10vw;
    width: 80vw;

    top: 5vh;
    height: 90vh;
  }

  .cardImg {
    width: 50vw;
    height: auto;
  }

  .cardInfo {
    margin-top: 3vh;
  }

  .title {
    padding: 1.5vh;
  }

  .title h2 {
    font-size: 3vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
