.start-btn {
  background-color: #785003;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;

  cursor: pointer;
  transition: 0.5s;

  width: 60%;
  height: 8vh;
  margin: 0.5vw;
}

.start-btn:hover {
  transform: scale(1.1);
}

.start-btn:active {
  opacity: 0.5;
  transform: scale(1);
}

.start-btn:disabled {
  opacity: 0.5;
  transform: scale(1);
}

@media (max-width: 600px) {
  .start-btn {
    width: 60%;
    height: 5vh;
    font-size: 5vw;
    margin: 1vw;
  }
}
